<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <style type="text/css">
      .container > div {
        float: left;
      }
      .space {
        margin-top: 10px;
      }
      .sampleList {
        width: 300px;
        margin: 0 10px;
      }
    </style>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript">
      function ShipInfo($scope, $http){
        $http.get('js/unit.json').success(function(data){
          $scope.unit = data.unit;
          $scope.status = data.status;
        });
        $scope.chgSelector = function(){
          //  $scope.orderProp
          console.log($scope.unit);
        };
        //  $scope.unitStatusOrder = unitStatusOrder;
      }
    </script>
    <title>Angular Sample</title>
  </head>
  <body ng-app>
    <div class="container space" ng-controller="ShipInfo">
      <div class="panel panel-default sampleList" >
        <div class="panel-heading">Default List</div>
        <div class="panel-body">
          <dl ng-repeat="u in unit" class="space">
            <dt>{{u.unit_name}}</dt>
            <dd>{{u.desc}}</dd>
          </dl>
        </div>
        <div class="panel-footer">
          <input type="text" disabled="disabled" class="form-control"/>
        </div>
      </div>
      <div class="panel panel-primary sampleList">
        <div class="panel-heading">Filter List</div>
        <div class="panel-body">
          <dl ng-repeat="u in unit | filter : {'desc' : keyword}" class="space">
            <dt>{{u.unit_name}}</dt>
            <dd>{{u.desc}}</dd>
          </dl>
        </div>
        <div class="panel-footer">
          <input type="text" ng-model="keyword" class="form-control"/>
        </div>
      </div>
      <div class="panel panel-success sampleList">
        <div class="panel-heading">Order List</div>
        <div class="panel-body">
          <dl ng-repeat="u in unit | orderBy : orderProp" class="space">
            <dt>{{u.unit_name}}</dt>
            <dd>
              火力 : {{u.status.firepower}}, 防空 : {{u.status.antiair}}, 魚雷 : {{u.status.torpedo}}, 耐久 : {{u.status.hitpoint}}
              <br>
              反潛 : {{u.status.antisubmarine}}, 裝甲 : {{u.status.armor}}, 偵察 : {{u.status.accuracy}}, 速度 : {{u.status.speed}}
            </dd>
          </dl>
        </div>
        <div class="panel-footer">
          <select ng-model="orderProp" class="form-control" ng-change="chgSelector()" ng-options="('status.' + st.status_eng_name) as st.status_chn_name for st in status">
            <option value="">--Please Select--</option>
          </select>
        </div>
      </div>
    </div>
  </body>
</html>
